<!DOCTYPE html>
<html>
<head>
  <title>Book Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/assets/favicon.png" type="image/png" sizes="128x1628">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Book Shop</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-2">
      <div id="side">
          <% if @cart %>
            <div id="cart">
              <%= render @cart %>
            </div>
          <% end %>
          <% if session[:user_id] %>
            <ul>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
            </ul>
            <%= button_to 'Logout', logout_path, method: :delete %>
          <% end %>
      </div>
    </div>
    <div class="col-offset-sm-1 col-sm-9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
